# node modules (both client + server)
node_modules/
client/node_modules/
server/node_modules/

# env files (VERY IMPORTANT)
.env
server/.env
client/.env

# build files
dist/
build/
client/dist/

# logs
npm-debug.log*
yarn-debug.log*

# OS files
.DS_Store

# vercel
.vercel